<div class="account-box">

  <h3 class="text-center">我要投作品</h3>
  <br>

<%= simple_form_for [@exchange] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :image, as: :file, :label => "封面" %>
    <!-- <%= f.input :description, as: :ckeditor, :label => "内容" %> -->
    <div style="display: none;">
      <%= f.input :description, :label => "内容" %>
    </div>
    <div id="editor">
      <%== @exchange.description %>
    </div>
    <hr>

  </div>
  <%= f.submit "提交审核", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>

</div>

<script>
  var E = window.wangEditor
  var editor = new E('#editor')
  editor.customConfig.uploadImgShowBase64 = true
  editor.customConfig.onchange = function (description) {
    $("#exchange_description").html(description)
  }
  editor.create()
</script>
