<br><br><br>
<div class="container">
  <div class="row">
    <h2 class="text-center"><%= @exchange.title %></h2>
  </div>
  <br><br><br>
  <div class="description">
    <%= sanitize @exchange.description %>
  </div>
  <table class="table">
   <thead>
     <tr>
       <th>评论内容</th>
       <th>发表用户</th>
       <th>发表时间</th>
     </tr>
   </thead>
   <tbody>
     <% @comments.each do |comment| %>
       <tr>
         <!-- <td><%= comment.content %></td> -->
         <td><%= sanitize comment.content %></td>
         <td><%= comment.user.name %></td>
         <td><%= comment.created_at %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
 <%= render "comments/form" %>
  总浏览量： <%= @exchange.impressionist_count %>
  <br>
  <%= link_to(content_tag(:i, "返回上一页", class: "fa fa-hand-o-left"), exchanges_path) %>
</div>
