<div class="container">
  <div class="row">
    <br><br><br>
    <div class="col-md-10">
      <h3 class="text-center">作品交流列表</h3>
    </div>
    <br>
    <div class="col-md-10">
      <div>
        <%= link_to("增加作品交流", new_admin_exchange_path, class: "btn btn-sm btn-default pull-right") %>
      </div>

      <table class="table table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <td>标题</td>
            <td>发布时间</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <% @exchanges.each do |exchange| %>
            <tr>
              <td>
                <%= render_exchange_status(exchange) %>
                <%= link_to(exchange.title, exchange_path(exchange))  %>
              </td>

              <td><%= exchange.created_at %></td>
              <td>
                <%= link_to("编辑", edit_admin_exchange_path(exchange)) %> |
                <%= link_to("删除", admin_exchange_path(exchange), method: :delete, data: { confirm: "你确定要删除吗？"}) %>
                <% if exchange.is_hidden %>
                  <%= link_to("发布", publish_admin_exchange_path(exchange), :method => :post, :class => "btn btn-xs btn-success") %>
                <% else %>
                  <%= link_to("隐藏", hide_admin_exchange_path(exchange), :method => :post, :class => "btn btn-xs btn-warning") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= link_to("回到前台", root_path, class: "btn btn-sm btn-default pull-left") %>
      </div>
    </div>
  </div>
</div>
