
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">参赛作品欣赏</h3>
      <hr>
    </div>
    <% @works.each do |work| %>
      <div class="col-xs-2 col-md-3 text">
         <%= link_to work_path(work) do %>
            <% if work.image.url.present? %>
              <%= image_tag(work.image.small.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
          <div class="text-left">
            <%= link_to(work.title, work_path(work)) %>
          </div>
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @works %>
    </div>
    <div class="col-md-12 text-center back-index">
      <a href="/" style="font-size: 1.5em;"><i class="fa fa-hand-o-left fa-1x"></i>回到首页</a>
    </div>

  </div>
</div>
