<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
    <!-- <%= image_tag("http://oon3erbcp.bkt.clouddn.com/tu3.jpg")%> -->
    </div>
  </div>
</div>

<br><br><br>
<div class="">
  <% @welcomes.each do |welcome| %>
    <%= link_to introduction_path(introduction) do %>
      <div class="col-xs-12 col-md-4">
        总浏览量： <%= welcomes.impressionist_count %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @introductions.each do |introduction| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to introduction_path(introduction)  %>
          <% if introduction.image.present? %>
            <%= link_to image_tag(introduction.image.small.url, class: "img-responsive center-block  introduction-image"), introduction_path(introduction) %>
          <% else %>
            <%= link_to image_tag("http://placehold.it/250x250&text=No Pic", class: "img-responsive center-block"), introduction_path(introduction) %>
          <% end %>
          <hr>
          <div class="text-center">
            <%= link_to(introduction.title, introduction_path(introduction)) %>
          </div>
          总浏览量： <%= introduction.impressionist_count %>
      </div>
    <% end %>
  </div>
</div>
