<!-- 滚动图区域 -->
<div class="row">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="overlay"></div>

    <!-- 默认三张图列表 -->
    <div class="banner">
      <ul class="carousel-indicators ">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ul>
    </div>

    <!-- 文案部分 -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero row">
          <hgroup>
              <h1>这里</h1>
              <h3>活动异彩纷呈！</h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
              <h1>这里</h1>
              <h3>皮雕爱好者温暖的港湾！</h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
              <h1>这里</h1>
              <h3>大师云集，与你同行！</h3>
          </hgroup>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- 皮雕比赛区域 -->
<hr>
<div class="container">
  <div class="row nav-container">
    <div class="col-xs-12 text-center">
      <h5>皮雕大赛精彩回顾</h5>
    </div>
  </div>

  <div class="row index-content">
    <% @games.each do |game| %>
        <div class="col-xs-12>
          <%= link_to game_path(game) do %>
            <% if game.image.url.present? %>
              <%= link_to image_tag(game.image.large.url, class: "img-responsive center-block  game-image"), game_path(game) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/1200x200&text=No Pic", class: "img-responsive center-block"), game_path(game) %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


<hr>
<div class="container">
  <div class="row topspan">
    <!-- 了解促进会区域 -->
    <div class="col-md-2 col-xs-6">
      <h4 class="text-center">了解促进会</h4>
      <br>
      <% @introductions.each do |introduction| %>
        <div class="col-md-12">
          <%= link_to(introduction.title, introduction_path(introduction)) %>
        </div>
      <% end %>
      <div class="col-md-12">
        <%= link_to("更多 >>", introductions_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 本会动态区域 -->
    <div class="col-md-2 col-xs-6">
      <h4 class="text-center">促进会动态</h4>
      <br>
      <% @messages.each do |message| %>
          <div class="col-md-12">
            <%= link_to(message.title, message_path(message), class: "text") %>
          </div>
      <% end %>
      <div class="col-md-12">
        <%= link_to("更多 >>", messages_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 行业资讯区域 -->
    <div class="col-md-2 col-xs-4">
      <h4 class="text-center">行业资讯</h4>
      <br>
      <% @messages.each do |message| %>
          <div class="col-md-12">
            <%= link_to(message.title, message_path(message), class: "text") %>
          </div>
      <% end %>
      <div class="col-md-12">
        <%= link_to("更多 >>", messages_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 国内外作品交流区域 -->
    <div class="col-md-2 col-md-offset-1 col-xs-4">
      <h4 class="text-center">国内外作品交流</h4>
      <br>
      <% @exchanges.each do |exchange| %>
          <div class="col-md-12">
            <%= link_to(exchange.title, exchange_path(exchange), class: "text") %>
          </div>
      <% end %>
      <div class="col-md-12">
        <%= link_to("更多 >>", exchanges_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 人才伯乐区域 -->
    <div class="col-md-2 col-md-offset-1 col-xs-4 ">
      <h4 class="text-center">人才•伯乐</h4>
      <br>
      <% @offers.each do |offer| %>
          <div class="col-md-12">
            <%= link_to(offer.title, offer_path(offer), class: "text") %>
          </div>

      <% end %>
      <div class="col-md-12">
        <%= link_to("更多 >>", offers_path, class: "pull-left") %>
      </div>
    </div>
  </div>
</div>

<!-- 2017比赛作品区域 -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <h4 class="text-left">2017首届皮雕艺术大赛部分作品欣赏</h4>
      </div>
      <div class="col-md-6">
        <h4 class="text-right">2017首届皮雕艺术大赛获奖作品名单</h4>
      </div>
    </div>
  </div>
</div>

<!-- 各地培训信息区域 -->
<hr>
<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to("各地皮雕培训、体验", educations_path, class: "btn btn-md btn-warning", target: "_blank") %>
  </div>
</div>

<!-- 优秀会员单位展示 -->
<hr>
<div class="container">
  <div class="row index-content">
    <div class="col-md-12">
      <h5>促进会部分优秀会员单位</h5>
      <% @notices.each do |notice| %>
        <div class="col-md-2">
            <%= link_to notice_path(notice) do %>
              <% if notice.image.url.present? %>
                <%= link_to image_tag(notice.image.small.url, class: "img-responsive center-block  adv-image"), notice_path(notice) %>
              <% else %>
                <%= link_to image_tag("http://placehold.it/500x250&text=No Pic", class: "img-responsive center-block adv-image"), notice_path(notice) %>
              <% end %>
            <% end %>
            <div class="text-center">
              <%= link_to(notice.title, notice_path(notice), class: "text") %>
            </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
<br><br><br>


<!-- 广告招商区域 -->

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to("本广告位招商", ads_index_path, class: "btn btn-md btn-warning", target: "_blank") %>
  </div>
</div>

<!-- 协会链接区域 -->
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h4>相关协会</h4>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to("深圳市工艺美术行业协会", "http://www.artcraft.com.cn/",  target: "_blank") %>
      </div>
      <div class="col-md-4 text-center">
        <%= link_to("深圳市皮革行业协会", "http://www.szleather.com/",  target: "_blank") %>
      </div>
      <div class="col-md-4 text-left">
        <%= link_to("中国工艺美术协会", "http://www.cnaca.org/",  target: "_blank") %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to("日本革工艺会", "#") %>
      </div>
      <div class="col-md-6 text-left">
        <%= link_to("美国皮雕联合会", "#") %>
      </div>
    </div>
  </div>
</div>
