<!-- 滚动图区域 -->
<div class="row">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="overlay"></div>

    <!-- 默认三张图列表 -->
    <div class="banner">
      <ul class="carousel-indicators ">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ul>
    </div>

    <!-- 文案部分 -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero row">
          <hgroup>
              <h1>这里</h1>
              <h3>活动异彩纷呈！</h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
              <h1>这里</h1>
              <h3>皮雕爱好者温暖的港湾！</h3>
          </hgroup>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
              <h1>这里</h1>
              <h3>大师云集，与你同行！</h3>
          </hgroup>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- 皮雕比赛区域 -->
<hr>
<div class="container">
  <div class="row nav-container">
    <div class="col-xs-12 text-center">
      <h5>皮雕大赛精彩回顾</h5>
    </div>
  </div>

  <div class="row index-content">
    <% @games.each do |game| %>
        <div class="col-xs-12>
          <%= link_to game_path(game) do %>
            <% if game.image.present? %>
              <%= link_to image_tag(game.image.large.url, class: "img-responsive center-block  game-image"), game_path(game) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/800x600&text=No Pic", class: "img-responsive center-block"), game_path(game) %>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


<hr>
<div class="container">
  <div class="row topspan">
    <!-- 了解促进会区域 -->
    <div class="col-md-4">
      <h3 class="text-center">了解促进会</h3>
      <br>
      <% @introductions.each do |introduction| %>
        <div class="col-md-7">
            <% if introduction.image.present? %>
              <%= link_to image_tag(introduction.image.middle.url, class: "img-responsive center-block  all-image"), introduction_path(introduction) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/500x250&text=No Pic", class: "img-responsive center-block all-image"), introduction_path(introduction) %>
            <% end %>
            <hr>
        </div>
        <div class="col-md-5">
          <%= link_to(introduction.title, introduction_path(introduction)) %>
        </div>
      <% end %>
      <div class="col-md-6">
        <%= link_to("更多 >>", introductions_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 促进会动态区域 -->
    <div class="col-md-4">
      <h3 class="text-center">促进会动态</h3>
      <br>
      <% @messages.each do |message| %>
          <div class="col-md-7">
            <% if message.image.present? %>
              <%= link_to image_tag(message.image.middle.url, class: "img-responsive center-block  all-image"), message_path(message) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/500x250&text=No Pic", class: "img-responsive center-block all-image"), message_path(message) %>
            <% end %>
            <hr>
          </div>
          <div class="col-md-5">
            <%= link_to(message.title, message_path(message), class: "text") %>
          </div>
      <% end %>
      <div class="col-md-6">
        <%= link_to("更多 >>", messages_path, class: "pull-left") %>
      </div>
    </div>

    <!-- 人才伯乐区域 -->
    <div class="col-md-4">
      <h3 class="text-center">人才•伯乐</h3>
      <br>
      <% @offers.each do |offer| %>
          <div class="col-md-7">
            <% if offer.image.present? %>
              <%= link_to image_tag(offer.image.middle.url, class: "img-responsive center-block  all-image"), offer_path(offer) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/500x250&text=No Pic", class: "img-responsive center-block all-image"), offer_path(offer) %>
            <% end %>
            <hr>
          </div>
          <div class="col-md-5">
            <%= link_to(offer.title, offer_path(offer), class: "text") %>
          </div>

      <% end %>
      <div class="col-md-6">
        <%= link_to("更多 >>", offers_path, class: "pull-left") %>
      </div>
    </div>
  </div>
</div>

<!-- 广告区域 -->
<hr>
<div class="container">
  <div class="row index-content">
    <div class="col-md-12">
      <% @notices.each do |notice| %>
        <div class="col-md-2">
            <%= link_to notice_path(notice) do %>
              <% if notice.image.present? %>
                <%= link_to image_tag(notice.image.small.url, class: "img-responsive center-block  all-image"), notice_path(notice) %>
              <% else %>
                <%= link_to image_tag("http://placehold.it/500x250&text=No Pic", class: "img-responsive center-block all-image"), notice_path(notice) %>
              <% end %>
            <% end %>
            <div class="text-center">
              <%= link_to(notice.title, notice_path(notice), class: "text") %>
            </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
<br><br><br>


<!-- 广告招商区域 -->

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to("广告招商", "#", class: "btn btn-md btn-warning", target: "_blank") %>
  </div>
</div>
