<div class="container account-page">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-center">个人资料</h2>
      <%= simple_form_for [:account, @user] do |f| %>

        <!-- 当前头像 -->
        <div class="">
          <% if @user.avatar.url.present? %>
            <img width="200" height="200" src= "<%= render_user_avatar(current_user, 20) %>" class="avatar center-block">

          <% else %>
            <%= image_tag("http://placehold.it/80x80&text=No Pic", class: "img-circle img-responsive center-block") %>
          <% end %>
        </div>
        <div>
          <%= f.input :avatar, :label => "用户头像", as: :file %>
          <%= f.input :name, :label => "用户名" %>
          <%= f.input :email, :label => "邮箱" %>
          <%= link_to("取消", root_path, class: "btn btn-sm btn-default") %>
          <%= f.submit "提交修改", class: "btn btn-sm btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
