<%= simple_form_for [:admin, @offer] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :is_hidden, :label => "隐藏" %>
    <% if @offer.image.present? %>
      <span>目前封面图</span><br>
      <%= image_tag(@offer.image.small.url) %>
    <% end %>
    <%= f.input :image,  as: :file, :label => "封面" %>
    <%= f.input :description, as: :ckeditor, :label => "内容" %>
  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
