<div class="container">
  <div class="row">
    <br><br><br>
    <div class="col-md-10">
      <h3 class="text-center">获奖作品列表</h3>
    </div>
    <br>
    <div class="col-md-10">
      <div>
        <%= link_to("增加获奖作品", new_admin_work_path, class: "btn btn-sm btn-default pull-right") %>
      </div>

      <table class="table table-hover table-bordered table-responsive">
        <thead>
          <tr>
            <td>标题</td>
            <td>发布时间</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <% @works.each do |work| %>
            <tr>
              <td><%= link_to(work.title, work_path(work))  %></td>

              <td><%= work.created_at %></td>
              <td>
                <%= link_to("编辑", edit_admin_work_path(work)) %> |
                <%= link_to("删除", admin_work_path(work), method: :delete, data: { confirm: "你确定要删除吗？"}) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
