<div class="account-box">

  <h3 class="text-center">我要投求职招聘信息</h3>
  <br>

<%= simple_form_for [@offer] do |f| %>
  <div class="form-group">
    <%= f.input :title, :label => "标题" %>
    <%= f.input :image, as: :file, :label => "封面" %>
    <%= f.input :description, as: :ckeditor, :label => "内容" %>
    <hr>

  </div>
  <%= f.submit "提交审核", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>

</div>
