<!DOCTYPE html>
<html>
  <head>
    <title>深圳市皮雕艺术促进会</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <style type="text/css">
      #img {
      position: absolute;
      background: url(http://yixiu2017.oss-cn-shenzhen.aliyuncs.com/rbggyz2.jpg) no-repeat;
      width: 200px;
      height: 200px;
      }
      #img a {
      text-decoration: none;
      color: green;
      display: block;
      text-align: center;
      line-height: 20px;
      padding: 95px 5px;
      }
      #img .reset {
      position: absolute;
      top: -17px;
      right: 1px;
      font-size: 12px;
      }
    </style>

    <div id="img" style="z-index: 100; position: absolute; cursor: pointer; left: 894px; top: 458px;">
     <a href="http://www.szleathercraft.com/messages/7" target="_blank"></a>
     <div class="reset">关闭×</div>
    </div>

    <script language="javascript" type="text/javascript">
    /*
    *   jQuery Plugins imgFloat v1011
    * 使用说明：
    *   speed //元素移动速度
    *   xPos  //元素一开始左距离
    *   yPos  //元素一开始上距离
    *   $('#div1').imgFloat({speed:30,xPos:10,yPos:10});
    *   $('#div2').imgFloat();   //不给参数默认（speed:15,xPos:0,yPos:0）
    */
    (function($) {
     jQuery.fn.imgFloat = function(options) {
       var own = this;
       var xD = 0;
       var yD = 0;
       var i = 1;
       var settings = {
         speed : 15,
         xPos : 0,
         yPos : 0
       };
       jQuery.extend(settings, options);
       var ownTop = settings.xPos;
       var ownLeft = settings.yPos;
       own.css({
         position : "absolute",
         cursor : "pointer"
       });
       function imgPosition() {
         var winWidth = $(window).width() - own.width();
         var winHeight = $(window).height() - own.height();
         if (xD == 0) {
           ownLeft += i;
           own.css({
             left : ownLeft
           });
           if (ownLeft >= winWidth) {
             ownLeft = winWidth;
             xD = 1;
           }
         }
         if (xD == 1) {
           ownLeft -= i;
           own.css({
             left : ownLeft
           });
           if (ownLeft <= 0)
             xD = 0;
         }
         if (yD == 0) {
           ownTop += i;
           own.css({
             top : ownTop
           });
           if (ownTop >= winHeight) {
             ownTop = winHeight;
             yD = 1;
           }
         }
         if (yD == 1) {
           ownTop -= i;
           own.css({
             top : ownTop
           });
           if (ownTop <= 0)
             yD = 0;
         }
       }
       var imgHover = setInterval(imgPosition, settings.speed);
       own.hover(function() {
         clearInterval(imgHover);
       }, function() {
         imgHover = setInterval(imgPosition, settings.speed);
       });
     }
    })(jQuery);
    </script>
    <script language="javascript" type="text/javascript">
     //$("#img").imgFloat();   //不给参数默认（speed:10,xPos:0,yPos:0）
     $("#img").imgFloat({
       speed : 15,
       xPos : 10,
       yPos : 10
     });
     $(".reset").click(function() {
       $("#img").css("display", "none");
     });
    </script>
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
